<%= form_for(@movement) do |f| %>
	<% if @movement.errors.any? %>
		<% @movement.errors.full_messages.each do |message| %>
			<div data-alert class="alert-box warning radius">
				<p><%= message %></p>
			</div>
		<% end %>
	<% end %>

	<div class="row">
		<div class="col-medium-33 col-small-100">
			<%= f.label :description %>
			<%= f.text_field :description %>
		</div>
		<div class="col-medium-33 col-small-100">
			<%= f.label :date do %>Date <i class="fa fa-calendar"></i><% end %>
			<%= f.date_field :date %>
		</div>
		<div class="col-medium-33 col-small-100">
			<%= f.label :amount do %>Amount <i class="fa fa-usd"></i><% end %>
			<%= f.text_field :amount %>
		</div>
	</div>
	<div class="row">
		<div class="col-medium-33 col-small-100">
			<%= f.label :account_id %>
			<%= f.collection_select(:account_id, Account.where(user: @user), :id, :name) %>
		</div>
		<div class="col-medium-33 col-small-100">
			<%= f.label :budget_id %>
			<%= f.collection_select(:budget_id, Budget.where(user: @user).order(:name), :id, :name) %>
		</div>
		<div class="col-medium-33 col-small-100">
			<%= f.label :period_id %>
			<%= f.collection_select(:period_id, Period.where(user: @user).order(start: :desc, id: :desc), :id, :name) %>
		</div>
	</div>
	<div class="row">
		<div class="col-small-100">
			<%= hidden_field(:redirect, :resource, :value => params[:redirect_resource]) %>
			<%= hidden_field(:redirect, :id, :value => params[:redirect_id]) %>
			<%= button_tag(type: 'submit', class: 'button button-success') do %>
				<i class="fa fa-check"></i> Save
			<% end %>
		</div>
	</div>
<% end %>