<div class="row">
	<div class="col-small-100">
		<h1><%= @movement.description %> <small><%= link_to '', edit_movement_path(@movement), :class => "link link-default fa fa-pencil" %></small></h1>
		<p>
			<strong>Date:</strong>
			<span><%= @movement.date.try(:strftime, "%d/%m/%Y") %></span>
		</p>
		<p>
			<strong>Amount:</strong>
			<span><%= number_to_currency(@movement.amount) %></span>
		</p>
		<p>
			<strong>Account:</strong>
			<span><%= @movement.account.name %></span>
		</p>
		<p>
			<strong>Budget:</strong>
			<span><%= @movement.budget.name %></span>
		</p>
		<p>
			<strong>Period:</strong>
			<span><%= @movement.period.name %></span>
		</p>
	</div>
</div>
