<ul class="breadcrumbs">
  <li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Budgets', budgets_path %></li>
  <li class="current"><a href="#"><%= @budget.name %></a></li>
</ul>

<% if notice %>
	<div data-alert class="alert-box success radius">
		<span id="notice"><%= notice %></span>
		<a href="#" class="close">&times;</a>
	</div>
<% end %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= @budget.name %> <small><%= link_to '', edit_budget_path(@budget), :class => "fa fa-pencil" %></small></h1>
		<p>
			<strong>Balance:</strong>
			<span><%= @budget.movements.sum(:amount) %></span>
		</p>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
			<h1>Movements</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<table>
			<thead>
				<tr>
					<th>Description</th>
					<th>Date</th>
					<th>Amount</th>
					<th>Account</th>
					<th>Period</th>
				</tr>
			</thead>

			<tbody>
				<% @budget.movements.each do |movement| %>
					<tr>
						<td><%= movement.description %></td>
						<td><%= movement.date.try(:strftime, "%d/%m/%Y") %></td>
						<td><%= number_to_currency(movement.amount) %></td>
						<td><%= movement.account.name %></td>
						<td><%= movement.period.name %></td>
					</tr>
				<% end %>
        <tr>
          <td colspan="5">
						<%= link_to new_movement_path(:budget_id => @budget, :redirect_resource => 'budgets', :redirect_id => @budget), :class => "button expand table-button" do %>
							<i class="fa fa-plus"></i> New Movement
						<% end %>
          </td>
        </tr>
			</tbody>
		</table>
	</div>
</div>
