<%= form_for(@period) do |f| %>
	<% if @period.errors.any? %>
		<div data-alert class="alert-box warning radius">
			<% @period.errors.full_messages.each do |message| %>
				<p><%= message %></p>
			<% end %>
		</div>
	<% end %>

	<div class="row">
		<div class="columns small-12">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="columns small-6">
			<div class="row collapse">
				<%= f.label :start %>
        <div class="small-2 columns">
          <span class="prefix"><i class="fa fa-calendar"></i></span>
        </div>
        <div class="small-10 columns">
					<%= f.text_field :start, :id => 'dateStart', :value => @period.start.try(:strftime, "%d/%m/%Y") %>
				</div>
			</div>
		</div>
		<div class="columns small-6">
			<div class="row collapse">
				<%= f.label :end %>
        <div class="small-2 columns">
          <span class="prefix"><i class="fa fa-calendar"></i></span>
        </div>
        <div class="small-10 columns">
					<%= f.text_field :end, :id => 'dateStart', :value => @period.end.try(:strftime, "%d/%m/%Y") %>
				</div>
			</div>
		</div>
		<div class="columns small-12">
			<%= button_tag(type: 'submit', class: 'button success') do %>
				<i class="fa fa-check"></i> Save
			<% end %>
		</div>
	</div>
<% end %>
<script type="text/javascript">
	$('#dateEnd').fdatepicker({format: 'dd/mm/yyyy'});
	$('#dateStart').fdatepicker({format: 'dd/mm/yyyy'});
</script>
