<%= form_for(@period) do |f| %>
	<% if @period.errors.any? %>
		<div data-alert class="alert-box warning radius">
			<% @period.errors.full_messages.each do |message| %>
				<p><%= message %></p>
			<% end %>
		</div>
	<% end %>

	<div class="row">
		<div class="col-medium-50 col-small-100">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="col-medium-25 col-small-50">
				<%= f.label :start do %>Start <i class="fa fa-calendar"></i><% end %>
				<%= f.date_field :start %>
		</div>
		<div class="col-medium-25 col-small-50">
				<%= f.label :end do %>End <i class="fa fa-calendar"></i><% end %>
				<%= f.date_field :end %>
		</div>
	</div>
	<div class="row">
		<div class="col-small-100">
			<%= button_tag(type: 'submit', class: 'button button-success') do %>
				<i class="fa fa-check"></i> Save
			<% end %>
		</div>
	</div>
<% end %>
