<% if notice %>
	<div data-alert class="alert-box">
		<%= notice %>
		<a href="#" class="close">&times;</a>
	</div>
<% end %>


<div class="row">
	<div class="col-small-100">
		<table class="table">
		  <thead>
			<tr>
			  <th width="75%">Name</th>
        <th>Start</th>
        <th>End</th>
			  <th>Balance</th>
			  <th colspan="3">Actions</th>
			</tr>
		  </thead>

		  <tbody>
			<% @periods.each do |period| %>
			  <tr>
					<td><%= period.name %></td>
          <td><%= period.start.try(:strftime, "%d/%m/%Y") %></td>
          <td><%= period.end.try(:strftime, "%d/%m/%Y") %></td>
					<td><%= number_to_currency(period.movements.sum(:amount)) %></td>
					<td><%= link_to "", period, :class => "link link-default fa fa-eye" %></td>
					<td><%= link_to "", edit_period_path(period), :class => "link link-default fa fa-pencil" %></td>
					<td><%= link_to "", period, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link link-default fa fa-trash-o" %></td>
			  </tr>
			<% end %>
        <tr>
          <td colspan="7">
            <%= pagination Period, @page, @rows, @totalPages %>
          </td>
        </tr>
				<tr>
					<td colspan="7">
						<%= link_to new_period_path, :class => "button button-success" do %>
							<i class="fa fa-plus"></i> New Period
						<% end %>
					</td>
				</tr>
		  </tbody>
		</table>
	</div>
</div>
