<div class="row">
	<div class="col-small-100">
		<h1><%= @period.name %> <small><%= link_to '', edit_period_path(@period), :class => "link link-default fa fa-pencil" %></small></h1>
		<p>
			<strong>Start:</strong>
			<span><%= @period.start.try(:strftime, "%d/%m/%Y") %></span>
		</p>
		<p>
			<strong>End:</strong>
			<span><%= @period.end.try(:strftime, "%d/%m/%Y") %></span>
		</p>
		<p>
			<strong>Balance:</strong>
			<span><%= number_to_currency(@period.movements.sum(:amount)) %></span>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-small-100">
			<h1>Movements</h1>
	</div>
<div class="row">
	<div class="col-small-100">
		<table class="table">
			<thead>
				<tr>
					<th>Description</th>
					<th>Date</th>
					<th>Amount</th>
					<th>Account</th>
					<th>Budget</th>
          <th colspan="3">Actions</th>
				</tr>
			</thead>

			<tbody>
			<% @movements.each do |movement| %>
				<tr>
					<td><%= movement.description %></td>
					<td><%= movement.date.try(:strftime, "%d/%m/%Y") %></td>
					<td><%= number_to_currency(movement.amount) %></td>
					<td><%= movement.account.name %></td>
					<td><%= movement.budget.name %></td>
					<td><%= link_to "", movement, :class => "link link-default fa fa-eye" %></td>
					<td><%= link_to "", edit_movement_path(movement), :class => "link link-default fa fa-pencil" %></td>
					<td><%= link_to "", movement, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link link-default fa fa-trash-o" %></td>
				</tr>
			<% end %>
        <tr>
          <td colspan="8">
            <%= pagination @period, @page, @rows, @totalPages %>
          </td>
        </tr>
        <tr>
          <td colspan="8">
						<%= link_to new_movement_path(:period_id => @period, :redirect_resource => 'periods', :redirect_id => @period), :class => "button button-success" do %>
							<i class="fa fa-plus"></i> New Movement
						<% end %>
          </td>
        </tr>
			</tbody>
		</table>
	</div>
</div>
