<%= form_tag "/", method: :get do %>
  <div class="row">
    <div class="col-small-75">
      <%= label_tag :period_id, "Period" %>
      <%= select_tag :period_id, options_from_collection_for_select(@periods, "id", "name", @period.id), :class => "input-group-field" %>
    </div>
    <div class="col-small-25 align-bottom">
      <%= button_tag :type => "submit", :class => "button button-success" do %>
        <i class="fa fa-check"></i> Filter
      <% end %>
    </div>
  </div>
<% end %>
<div class="row">
	<div class="col-small-100">
    <table class="table">
      <thead>
        <tr>
          <th>Budget</th>
          <th>Amount</th>
          <th>Balance</th>
          <th width="100%"></th>
        </tr>
      </thead>
      <tbody>
        <% @forecasts.each do |forecast| %>
          <tr>
            <td><%= link_to forecast.budget.name, forecast, class: "link link-default" %></td>
            <td><%= number_to_currency(forecast.amount) %></td>
            <td><%= number_to_currency(Movement.where(period_id: forecast.period_id, budget_id: forecast.budget_id).sum(:amount)) %></td>
            <td>
              <%= forecastBalanceMeter(forecast) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>Total</td>
          <td><%= number_to_currency(@forecasts.sum(:amount)) %></td>
          <td><%= number_to_currency(Movement.where(period_id: @period.id).sum(:amount)) %></td>
          <td style="width: 100%;">
            <%= balanceMeter(@forecasts.sum(:amount), balancePercent(@forecasts.sum(:amount), Movement.where(period_id: @period.id).sum(:amount))) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
