<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GestorFinanceiro</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://cdn.auth0.com/js/lock/10.0/lock.min.js" %>
    <script type="text/javascript">
      var lock = new Auth0Lock('<%= Figaro.env.auth0_client_id %>', '<%= Figaro.env.auth0_domain %>', {
        auth: {
          redirectUrl: 'http://localhost:300/auth/auth0/callback',
          responseType: 'code',
          params: {
            scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
          }
        }
      });
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row">
      <div class="small-6 small-centered columns">
        <h1>Gestor Financeiro</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-6 small-centered columns">
        <button class="button success" onclick="lock.show();">Enter and be welcome</button>
      </div>
    </div>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
