<%= form_for(@forecast) do |f| %>
	<% if @forecast.errors.any? %>
		<div data-alert class="alert-box warning radius">
			<% @forecast.errors.full_messages.each do |message| %>
				<p><%= message %></p>
			<% end %>
		</div>
	<% end %>

	<div class="row">
		<div class="col-small-33">
      <%= f.label :period_id %>
      <%= f.collection_select(:period_id, @periods, :id, :name) %>
		</div>
		<div class="col-small-33">
      <%= f.label :budget_id %>
      <%= f.collection_select(:budget_id, @budgets, :id, :name) %>
		</div>
		<div class="col-small-33">
			<%= f.label :amount do %>Amount <i class="fa fa-usd"></i><% end %>
			<%= f.text_field :amount %>
		</div>
	</div>
	<div class="row">
		<div class="col-small-100">
			<%= button_tag(type: 'submit', class: 'button button-success') do %>
				<i class="fa fa-check"></i> Save
			<% end %>
		</div>
	</div>
<% end %>
