<ul class="breadcrumbs">
  <li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Forecasts', forecasts_path %></li>
  <li class="current"><a href="#"><%= @forecast.period.name %> - <%= @forecast.budget.name %></a></li>
</ul>

<% if notice %>
	<div data-alert class="alert-box success radius">
		<span id="notice"><%= notice %></span>
		<a href="#" class="close">&times;</a>
	</div>
<% end %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= @forecast.period.name %> / <%= @forecast.budget.name %> <small><%= link_to '', edit_forecast_path(@forecast), :class => "fa fa-pencil" %></small></h1>
		<p>
			<strong>Amount:</strong>
			<span><%= number_to_currency(@forecast.amount) %></span>
		</p>
		<p>
			<strong>Balance:</strong>
			<span><%= number_to_currency(Movement.where(period_id: @forecast.period_id, budget_id: @forecast.budget_id).sum(:amount)) %></span>
		</p>
	</div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h1>Movements</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Account</th>
        </tr>
      </thead>

      <tbody>
        <% Movement.where(period_id: @forecast.period_id, budget_id: @forecast.budget_id).each do |movement| %>
          <tr>
            <td><%= movement.description %></td>
            <td><%= movement.date.try(:strftime, "%d/%m/%Y") %></td>
              <td><%= number_to_currency(movement.amount) %></td>
            <td><%= movement.account.name %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4">
						<%= link_to new_movement_path(:budget_id => @forecast.budget_id, :period_id => @forecast.period_id, :redirect_resource => 'forecasts', :redirect_id => @forecast.id), :class => "button expand table-button" do %>
							<i class="fa fa-plus"></i> New Movement
						<% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
