<div class="row">
  <div class="col-small-100">
    <h1>Account Evolution</h1>
  </div>
</div>
<div class="row">
  <div class="col-small-100">
    <%= line_chart @report, library: {'hAxis' => {'format' => 'dd/MM/yyyy'}} %>
  </div>
</div>
<%= form_tag reports_account_evolution_path, method: :get do %>
  <div class="row">
    <div class="col-medium-33 col-small-100">
      <%= label_tag :start do %>Start <i class="fa fa-calendar"></i><% end %>
      <%= date_field_tag :start, @start %>
    </div>
    <div class="col-medium-33 col-small-100">
      <%= label_tag :end do %>End <i class="fa fa-calendar"></i><% end %>
      <%= date_field_tag :end, @end %>
    </div>
    <div class="col-medium-33 col-small-100">
      <%= label_tag :group, 'Group' %>
      <%= select_tag :group, options_for_select(@date_groups, @group)  %>
    </div>
  </div>
  <div class="row">
    <div class="col-small-100">
      <%= label_tag :accounts, 'Accounts' %>
    </div>
  </div>
  <div class="row">
    <% Account.where(user: @user).each do |account| %>
      <div class="col-medium-33 col-small-100">
        <%= check_box_tag 'accounts[]', account.id, @accounts.include?(account), :id => "account_#{account.id}" %> <%= label_tag "account_#{account.id}", account.name %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-small-100">
      <%= button_tag :type => "submit", :class => "button button-success" do %>
        <i class="fa fa-check"></i> Filter
      <% end %>
    </div>
  </div>
<% end %>
