<div class="row">
  <div class="small-12 columns">
    <h1>Budget Evolution</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= line_chart @report, discrete: true %>
  </div>
</div>
<%= form_tag "/reports/budget_evolution", method: :get do %>
  <div class="row collapse">
    <%= label_tag :budgets, 'Budgets' %>
    <% Budget.all.each do |budget| %>
      <div class="medium-4 columns end">
        <%= check_box_tag 'budgets[]', budget.id, @budgets.include?(budget), :id => "budget_#{budget.id}" %> <%= label_tag "budget_#{budget.id}", budget.name %>
      </div>
    <% end %>
  </div>
  <div class="row collapse">
    <%= label_tag :periods, 'Periods' %>
    <% Period.all.each do |period| %>
      <div class="medium-4 columns end">
        <%= check_box_tag 'periods[]', period.id, @periods.include?(period), :id => "period_#{period.id}" %> <%= label_tag "period_#{period.id}", period.name %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="columns small-4">
      <%= button_tag :type => "submit", :class => "button" do %>
        <i class="fa fa-check"></i> Filter
      <% end %>
    </div>
  </div>
<% end %>
