<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GestorFinanceiro</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <nav class="main-menu">
        <%= link_to "Financial Manager", root_path, class: "title" %>
        <div class="items">
          <!-- TODO: These icons must be reviewed -->
          <%= link_to accounts_path                  , class: "item" do %><i class="fa fa-bank fa-2x"></i><span class="label">Accounts</span><% end %>
          <%= link_to budgets_path                   , class: "item" do %><i class="fa fa-list fa-2x"></i><span class="label">Budgets</span><% end %>
          <%= link_to periods_path                   , class: "item" do %><i class="fa fa-calendar fa-2x"></i><span class="label">Periods</span><% end %>
          <%= link_to forecasts_path                 , class: "item" do %><i class="fa fa-tasks fa-2x"></i><span class="label">Forecasts</span><% end %>
          <%= link_to movements_path                 , class: "item" do %><i class="fa fa-usd fa-2x"></i><span class="label">Movements</span><% end %>
          <%= link_to reports_account_evolution_path , class: "item" do %><i class="fa fa-cogs fa-2x"></i><span class="label">Account evolution</span><% end %>
          <%= link_to reports_budget_evolution_path  , class: "item" do %><i class="fa fa-cogs fa-2x"></i><span class="label">Budget evolution</span><% end %>
          <%= link_to reports_budget_comparision_path, class: "item" do %><i class="fa fa-cogs fa-2x"></i><span class="label">Budget comparision</span><% end %>
          <%= link_to reports_total_balance_path     , class: "item" do %><i class="fa fa-cogs fa-2x"></i><span class="label">Total balance</span><% end %>
          <%= link_to logout_path                    , class: "item" do %><i class="fa fa-sign-out fa-2x"></i><span class="label">Logout</span><% end %>
        </div>
      </nav>
      
      <%= breadcrumb %>
      
      <%= yield %>
      
    </div>
  </body>
</html>
