<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GestorFinanceiro</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Financial Manager', root_path %></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">

          <li class="has-dropdown">
            <%= link_to 'Accounts', accounts_path %>
            <ul class="dropdown">
              <% Account.all.each do |account| %>
                <li><%= link_to account.name + ': ' + number_to_currency(account.movements.sum(:amount)), account %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to 'Budgets', budgets_path %></li>
          <li><%= link_to 'Periods', periods_path %></li>
          <li><%= link_to 'Forecasts', forecasts_path %></li>
          <li><%= link_to 'Movements', movements_path %></li>
          <li class="has-dropdown">
            <a href="#" >Reports</a>
            <ul class="dropdown" >
              <li><%= link_to 'Account evolution', controller: 'reports', action: 'account_evolution' %></li>
              <li><%= link_to 'Budget evolution', controller: 'reports', action: 'budget_evolution' %></li>
              <li><%= link_to 'Budget comparision', controller: 'reports', action: 'budget_comparision' %></li>
              <li><%= link_to 'Total balance', controller: 'reports', action: 'total_balance' %></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#"><%= @user["first_name"]? @user["first_name"]: @user["name"] %></a>
            <ul class="dropdown" >
              <li><%= link_to @user["image"]? image_tag(@user["image"]): "User", "user/profile" %></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>

    <%= yield %>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
