<%= form_for(@account) do |f| %>
	<% if @account.errors.any? %>
		<% @account.errors.full_messages.each do |message| %>
			<div data-alert class="alert-box warning radius">
				<p><%= message %></p>
			</div>
		<% end %>
	<% end %>

	<div class="row">
		<div class="col-small-100">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="row">
		<div class="col-small-100">
			<%= button_tag(type: 'submit', class: 'button button-success') do %>
				<i class="fa fa-check"></i> Save
			<% end %>
		</div>
	</div>
<% end %>
